#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

ul {
  list-style-type: none; 
}

label {
  display: block;
  font-size: large;
}

input,
textarea {
  margin-bottom: 10px;
}

.cv-info {
  display: flex;
  gap: 30px;
}

.forms-container {
  border: 1px solid black;
}

.forms-container > div {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
}

h2 {
  margin: 12px 0 10px 0;
}

.add-experience-section,
.add-education-section {
  margin-bottom: 12px;
}


.cv-paper {
  border: 1px solid black;
  height: 29.7cm;
  width: 21cm;
}






.personal-details-header {
  color: white;
  background-color: rgb(39, 39, 77);
  margin: 0;
  padding: 22px;
}

.contact-details {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-size: larger;
}

h1 {
  margin: 0;
  text-align: center;
}

img {
  filter: invert(100%);
  width: 24px;
  transform: translateY(20%); /* aligns image with the rest of the text, despite image having built-in padding */
  margin-right: 4px;
}